<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RagialAlarm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70F829751D0B6D350073AAE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F829891D0B6D350073AAE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F829941D0B6D350073AAE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
